.container-fluid.mixed-area {
	max-height: 200px;
	min-height: 180px;
}

.branner-carousel {
	max-height: 150px;
	min-height: 140px;
}

.hotnew {
	width: 30%;
	height: 150px;
	margin-top: 0;
}

.img-sale {
	margin-top: 10px;
	background-color: #fff;
}

.img-sale img {
	padding: 0;
}

.img-sale img:first-child {
	padding-bottom: 23px;
}
/* SEARCH PRODUCT */
.search-area {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #f3f1f1;
	background-color: #fff;
}

.search-product {
	display: flex;
	align-items: center;
	margin: 12px;
	font-size: 14px;
}

.search-product__name {
	width: 22%;
	display: flex;
	align-items: center;
}

.search-product__price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 47%;
}

.search-product-list {
	display: flex;
}

.search-product--item {
	padding: 0 5px;
}

.search-product--link {
	
}

.btn-search {
	display: flex;
}

.price {
	width: 33%;
	margin: 0 0px 0 0;
	padding: 0 11px;
	font-size: 1.4rem;
}

.price-labe {
	width: 5%;
	text-align: center;
}

.price-labe-from, .price-labe-to {
	margin: 0 1rem;
}

#searchByPrice {
	margin-right: 1rem;
	font-size: 1.4rem;
}

.listBrand {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	min-height: 70px;
	/* background-color: #fff; */
}

.list-brand__item {
	max-height: 53px;
	width: 10%;
	/* text-align: center; */
	position: relative;
	border: 1px solid #e2e2e2;
}

.logo-brand {
	width: 80%;
}

label .label-item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

input[type="checkbox"], input[type="radio"] {
	opacity: 0;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
}

input[type="checkbox"]:checked {
	opacity: 1;
}
/* Check change border of li */
.li-enable {
	border: 1px solid #52a2e1;
}
/* END SEARCH */
/*  RESULT SEARCH */
#resultSearch {
	display: flex;
	align-items: center;
	justify-content: center;
}

#resultSearch p {
	margin: 10px;
	font-size: 1.5rem;
	text-align: center;
}
/* SHOW MORE, HIDDEN */
.show-more, .hidden-item {
	cursor: pointer;
	position: relative;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #288ad6;
	font-weight: 500;
	margin-left: 12px;
	height: 50px;
	/* min-height: 27px; */
}

.icon, .icon-up {
	padding-left: 5px;
}

.icon-up {
	position: absolute;
	right: -15px;
	top: 20px;
}
/* END SHOW MORE */
/* START CUSTOMIZE CHECKBOX */
input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

input[type="checkbox"]+label:last-child {
	margin-bottom: 0;
}

input[type="checkbox"]+label:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 3px solid #106ad8;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	-webkit-transition: all 0.12s, border-color 0.08s;
	transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked+label:before {
	width: 10px;
	top: -4px;
	left: 9px;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* END CUSTOMIZE CHECKBOX */
/* END SEARCH */
/* START FILTER */
.filter-area {
	width: 41%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 10px;
}

.filter-box {
	display: flex;
	width: 15%;
	position: relative;
}

.filter-box__title {
	position: relative;
}

.sort-box {
	
}

.sort-box__title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sort-area {
	display: flex;
	align-items: center;
}

.sort-area__sort-asc {
	
}

.sort-area--link {
	padding-left: 15px;
}

.sort-area--link:first-child {
	padding-left: 10px;
}

.sort-area__sort-desc {
	
}

.sort-area__sort-highlight {
	
}

.search-product-master {
	width: 95px;
}

.check-price {
	font-weight: 600;
}

.list-filter {
	width: 550px;
	height: 170px;
	padding: 15px;
	background-color: #fff;
	position: absolute;
	top: 28px;
	left: -245px;
	z-index: 3;
	/* visibility: hidden;
  opacity: 0; */
	box-shadow: 0px -1px 4px 0px rgb(204, 204, 204);
	display: flex;
	justify-content: space-between;
}

/* .filter-box:hover .list-filter {
  visibility: visible;
  opacity: 1;
} */
.filter-box__title::before {
	/* content: ""; */
	width: 47px;
	height: 20px;
	background-color: #288ad6;
	position: absolute;
}

.list-filter::before {
	content: "";
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 10px solid #e4e1e1;
	border-top: 20px solid transparent;
	position: absolute;
	top: -30px;
	left: 45%;
}

.list-filter__type-phone {
	
}

.list-filter--item {
	padding: 8px 0;
}

.list-filter__ram {
	
}

.list-filter__pin {
	
}

.list-filter--title {
	font-weight: 600;
	margin-bottom: 5px;
}

.list-filter--link {
	position: relative;
	color: #333;
	padding-left: 20px;
}

.icon-checkbox {
	background-image: url(/images/icon-click.png);
	background-repeat: no-repeat;
	background-position: -145px -30px;
	width: 17px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 1px;
}

.check-filter-box {
	background-position: -165px -30px;
}

.check-sort {
	text-decoration: underline;
}

.check-sort:hover {
	text-decoration: underline;
}

.btn-close-filter {
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-image: url(/images/icon-click.png);
	background-repeat: no-repeat;
	background-position: -205px -28px;
	position: absolute;
	top: 7px;
	right: 5px;
}
/* Condition search area*/
.condition-search-box {
  font-size: 1.4rem;
  display: flex;
}

.condition-search__list {
  display: flex;
  justify-content: start;
}

.condition-search--item {
  height: 30px;
  line-height: 30px;
  background: #288ad6;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0 5px;
  position: relative;
}

.condition-search--link {
  color: #fff;
  display: block;
  padding-right: 14px;
}
.condition-search--link:hover {
  color: #fff;
}
.btn-close-condition {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-image: url(/images/icon-click.png);
  background-repeat: no-repeat;
  background-position: -247px -29px;
  position: absolute;
  top: 8px;
  right: 1px;
}

.btn-delete-all-box {
  display: flex;
}

.btn-delete-all {
  background: #c10017;
}
