.sb-topnav .navbar-brand{
	width: 225px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    height: 46px;
    background-position: 21px -11px;
    background-repeat: no-repeat;
    background-image: url(/images/logo-admin.png);
} 
.welcome-admin {
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 54%;
}
.welcome-admin > a {
	width: 100%;
}
th {
	text-align: center;
}
#previewonly >img {
	margin: 10px;
	width: auto;
	height: 200px;
	
}
.form-group > label{
	font-weight: 600;
	margin-bottom: 3px;
}
a {
	cursor: pointer;
	text-decoration: none;
}
div.error-message-invalid
{
	position: relative;
	padding: .375rem .75rem;
	margin-top: .5rem;
	color: #dc3545 !important;
	width: 100%;
	border-radius: .25rem;
}
input.error-message-invalid
{
	position: relative;
	padding: .375rem .75rem;
	margin-top: .5rem;
	border: 1px solid #f5c6cb !important;
	color: #dc3545 !important;
	width: 100%;
	border-radius: .25rem;
}

div.error-message-invalid, div.error, label.error-message-invalid, label.error {
    background-color: #f8d7da;
    position: relative;
    padding: .375rem .75rem;
    margin-top: .5rem;
    border: 1px solid #f5c6cb !important;
    color: #dc3545 !important;
    width: 100%;
    border-radius: .25rem;
}

.fade {
      transition: opacity 0.2s linear !important;
}

.img-brand {
	width: 60px;
	height: 60px;
	display: flex;
	margin: 0 auto;
}
.icon-edit-btn {
	color: #4a90e2;
}
.icon-delete-btn {
	color: #f13e3e;
}

.image-area {
	width: 50%;
	margin: 0 auto;
}

.image-area-brand {
	width: 100px;
    margin: 0 auto;
}

/* START IMAGE FROM ADD/UPDATE */
.preview-image-upload {
	text-align: center;
	margin-bottom: 12px;
}

.preview-image-upload img {
	max-width: 40%;
	opacity: .7;
}
/* END IMAGE FROM ADD/UPDATE */

/* START EKKO-LIGHTBOX */
.ekko-lightbox {
	display: flex !important;
	justify-content: center;
	align-items: center;
}
/* END EKKO-LIGHTBOX */

/* START CUSTOM DATATABLE */
.unit-price {
	text-align: right;
    width: 130px;
}

.sale-date {
	text-align: center;
}

.quantity-product {
	text-align: center;
}

.td-action {
	position: relative;
}

.td-id {
	width: 5%;
	text-align: center;
}

.td-sale-price {
	width: 13%;
}

.action-btns {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
/* END CUSTOM DATATABLE */

/* CUSTOM WITDH CONTENT  */
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
	padding-left: 245px;
    top: 60px;;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 250px;
    height: 100vh;
}
/* END CUSTOM WIDTH CONTENT */
/* CUSTOM ALERT */
.alert-info, .alert-danger {
    top: 120px !important;
    padding: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 25%;
    line-height: 2rem;
    z-index: 10000 !important;
}
/* START GROUP FORM */
.group-row {
	display: flex;
	justify-content: space-between;
}

.form-group {
    margin-bottom: 10px;
}
/* END GROUP FORM */

.sale-price-input, .memory-product-price {
	display: flex;
    justify-content: center;
    align-items: center;
}

.suffixes-input {
	padding-left: 5px;
}

.custom-line-row {
	height: 36px;
    line-height: 18px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.memory-product {
    margin-right: 10px;
    width: 50%;
}

.quantity-product-info {
	text-align: center;
    background: #32bf44;
    color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.td-product-quantity-warn {
	text-align: center;
    background: red;
    color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}